<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
    <div id="Accordion" role="tablist" aria-multiselectable="true">
      <div class="panel panel-success">
        <div class="panel-heading text-left" role="tab" id="HeadingOne" data-toggle="collapse" data-parent="#Accordion" href="#CollapseOne" aria-expanded="true" aria-controls="CollapseOne">
          <b class="panel-title">
            <!-- a data-toggle="collapse" data-parent="#Accordion" href="#CollapseOne" aria-expanded="true" aria-controls="CollapseOne" -->
            WEB BROADCASTINGS
            <!-- /a -->
          </b>
        </div>
        <div id="CollapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="HeadingOne">
          <div  class="list-group text-left">
            <a class="list-group-item" (click)="openLink('http://www.goodfriend.org/gb/index.asp')">GOOD FRIEND</a>
            <a class="list-group-item" (click)="openLink('http://portal.swtychina.com/')">SWTY</a>        
          </div>
        </div>
      </div>
      <div class="panel panel-success">
        <div class="panel-heading text-left" role="tab" id="HeadingTwo"  data-toggle="collapse" data-parent="#Accordion" href="#CollapseTwo" aria-expanded="false" aria-controls="CollapseTwo">
          <b class="panel-title">
            <!--a class="collapsed" data-toggle="collapse" data-parent="#Accordion" href="#CollapseTwo" aria-expanded="false" aria-controls="CollapseTwo"-->
            FORUMS
            <!--/a-->
          </b>
        </div>
        <div id="CollapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="HeadingTwo">
          <div  class="list-group text-left">
            <a class="list-group-item" (click)="openLink('http://bbs.creaders.net/rainbow/')">RAINBOW</a>
          </div>
        </div>  
      </div>
      <div class="panel panel-success">
        <div class="panel-heading text-left" role="tab" id="HeadingThree" data-toggle="collapse" data-parent="#Accordion" href="#CollapseThree" aria-expanded="false" aria-controls="CollapseThree">
          <b class="panel-title">
            <!--a class="collapsed" data-toggle="collapse" data-parent="#Accordion" href="#CollapseThree" aria-expanded="false" aria-controls="CollapseThree"-->
            INSTITUTIONS
            <!--/a-->
          </b>
        </div>
        <div id="CollapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="HeadingThree">
          <div  class="list-group text-left">
            <a class="list-group-item" (click)="openLink('http://cwcnet.org/cwcsite/3.1/')">CHRISTIAN WITNESS CENTER </a>
            <a class="list-group-item" (click)="openLink('http://www.ccim.org/')">CCIM</a>
          </div>
        </div>
      </div>
      <div class="panel panel-success">
        <div class="panel-heading text-left" role="tab" id="HeadingFour" data-toggle="collapse" data-parent="#Accordion" href="#CollapseFour" aria-expanded="false" aria-controls="CollapseFour">
          <b class="panel-title">
            <!--a class="collapsed" data-toggle="collapse" data-parent="#Accordion" href="#CollapseFour" aria-expanded="false" aria-controls="CollapseFour"-->
            WEB RESOURCES
            <!--/a-->
          </b>
        </div>
        <div id="CollapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="HeadingFour">
          <div  class="list-group text-left">
            <a class="list-group-item" (click)="openLink('http://cclw.net/')">CHINESE CHRISTIAN LIFE</a>
            <a class="list-group-item" (click)="openLink('http://www.ccbiblestudy.org/index-S.htm')">CHINESE BIBLE STUDY WEB</a>
            <a class="list-group-item" (click)="openLink('https://answersingenesis.org/zh/')">ANSWERS WORLDWIDE</a>
          </div>         		
        </div>
      </div>   
      <div class="panel panel-success">
        <div class="panel-heading text-left" role="tab" id="HeadingFive"  data-toggle="collapse" data-parent="#Accordion" href="#CollapseFive" aria-expanded="false" aria-controls="CollapseFive">
          <b class="panel-title">
            <!--a class="collapsed" data-toggle="collapse" data-parent="#Accordion" href="#CollapseFive" aria-expanded="false" aria-controls="CollapseFive"-->
            CHURCHES
            <!--/a-->
          </b>
        </div>
        <div id="CollapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="HeadingFive">
          <div  class="list-group text-left">
            <a class="list-group-item" (click)="openLink('http://www.ceciic.org/')">CHINESE EVANGELICAL CHURCH IN IOWA CITY</a>
            <a class="list-group-item" (click)="openLink('http://www.sccc-ms.org/drupal/')">STARKVILLE CHINESE CHRISTIAN CHURCH</a>
            <a class="list-group-item" (click)="openLink('http://hccc-ms.org')">HATTIESBURG CHINESE CHRISTIAN CHURCH</a>
            <a class="list-group-item" (click)="openLink('http://www.glcaconline.org/')">GREATER LAFAYETTE CHINESE ALLIANCE CHURCH</a>
          </div>         		
        </div>
      </div>   
    </div>
  </div>
</div>