<div class="row">
  <div class="col-sm-8 text-justify">
    <table class="table table-hover table-condensed">
      <caption class="text-center"><strong>OXFORD 华人基督徒团契周五聚会安排</strong></caption>
      <thead>      
        <tr>
          <th>日期</th>
          <th>诗歌敬拜</th>
          <th>查 经 内 容</th>
          <th>带 领</th>
          <th>茶点</th>         
          <th>儿童活动</th>
        </tr>
      </thead>
      <tbody *ngFor="let schedule of schedules">       
        <tr>
          <td>{{schedule.date}}</td>
          <td>{{schedule.sonleader}}</td>
          <td>{{schedule.studycontent}}</td>
          <td>{{schedule.studyleader}}</td>
          <td>{{schedule.snack}}</td>
          <td>{{schedule.Babysiter}}</td>
        </tr>
      </tbody>
      <tr><td colspan="6">*英文查经：Ryan/Rachel&nbsp;&nbsp;&nbsp;&nbsp;*儿童活动：熊慧/耀新/志强</td></tr>
    </table>   
  </div>
  <div class="col-sm-4 text-justify dtborder">
    <span class="subtitle">星期五查经聚会</span>
    <div class="meeting">
      <p>
        7:00pm-7:30pm 诗歌分享<br>
        7:30pm-8:15pm 读经讲解<br>
        8:15pm-8:45pm 分组讨论
      </p>
      <p><strong>地点: </strong><br>
          North Oxford Baptist Church  
          304 CR 101, Oxford, MS 38655 
      </p>
    </div>
    <span class="subtitle">星期二祷告会</span>
    <div class="meeting">
      <p>
        7:30pm-8:00pm 诗歌敬拜<br>
        8:00pm-9:00pm 分享祷告
      </p>
      <p><strong>地点: </strong><br>
          轮流在弟兄姐妹家, 请注意通知 
      </p>
    </div>
  </div>
</div>