<div class="row">
  <div class="col-sm-8 text-justify">
    <app-friday-sche></app-friday-sche>
  </div>
  <div class="col-sm-4 text-justify dtborder">
    <span class="subtitle">星期五查经聚会</span>
    <div class="meeting">
      <p>
        7:00pm-7:30pm 诗歌分享<br>
        7:30pm-8:15pm 读经讲解<br>
        8:15pm-8:45pm 分组讨论
      </p>
      <p><strong>地点: </strong><br>
          North Oxford Baptist Church  
          304 CR 101, Oxford, MS 38655 
      </p>
    </div>
    <span class="subtitle">星期二祷告会</span>
    <div class="meeting">
      <p>
        7:30pm-8:00pm 诗歌敬拜<br>
        8:00pm-9:00pm 分享祷告
      </p>
      <p><strong>地点: </strong><br>
          轮流在弟兄姐妹家, 请注意通知 
      </p>
    </div>
  </div>
</div>