<div class="text-justify">
    <small><strong>我们本像原无善可陈，但我们在主的教会和团契中共同追求和彼此关怀的写照却是美好的见证。愿这本相册在将来不但会成为你我在OXFORD的美好回忆，也会成为我们在神的路上继续追求的鼓励。</strong></small>
</div>
<div class="row">
    <div class="col-sm-2">
        <div class="panel panel-success">
            <div class="panel-heading" (click)="openInnerLink('album_ALL_2002/index.html')"> 
                <b class="panel-title">2002</b>
            </div>
        </div>
    </div>
    <div class="col-sm-2">
        <div class="panel panel-success">
            <div class="panel-heading" data-toggle="collapse" href="#collapse12">
                <b class="panel-title">2003</b>
            </div>
            <div id="collapse12" class="panel-collapse collapse">
                <div class="list-group text-left">
                    <li class="list-group-item" (click)="openInnerLink('album_Massionary_2003/index.html')">门徒训练</li>
                    <li class="list-group-item" (click)="openInnerLink('album_Fellowship_2003/index.html')">团契聚会</li>
                    <li class="list-group-item" (click)="openInnerLink('album_Baptism_2003/index.html')">受浸见证</li>
                    <li class="list-group-item" (click)="openInnerLink('album_CWC%202003/index.html')">03冬令会</li>
                    <li class="list-group-item" (click)="openInnerLink('album_Picnic_2003/index.html')">户外野餐</li>
                    <li class="list-group-item" (click)="openInnerLink('album_Farewell_2003/index.html')">临别小聚</li>
                </div>    
            </div>
        </div>
    </div>
    <div class="col-sm-2">
        <div class="panel panel-success">
            <div class="panel-heading" data-toggle="collapse" href="#collapse13">
                <b class="panel-title">2004</b>
            </div>
            <div id="collapse13" class="panel-collapse collapse">
                <div class="list-group text-left">
                    <li class="list-group-item" (click)="openInnerLink('album_Disciple_2004/index.html')">门徒训练</li>
                    <li class="list-group-item" (click)="openInnerLink('album_Fellowship_2004/index.html')">团契聚会</li>
                    <li class="list-group-item" (click)="openInnerLink('album_Baptism_2004/index.html')">受浸见证</li>
                    <li class="list-group-item" (click)="openInnerLink('album_CWC_2004/index.html')">04冬令会</li>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-2">
        <div class="panel panel-success">
            <div class="panel-heading" data-toggle="collapse" href="#collapse14">
                <b class="panel-title">2005</b>
            </div>
            <div id="collapse14" class="panel-collapse collapse">
                <div class="list-group text-left">
                    <li class="list-group-item" (click)="openInnerLink('album_Disciple_2005/index.html')">门徒训练</li>
                    <li class="list-group-item" (click)="openInnerLink('album_Fellowship_2005/index.html')">团契聚会</li>
                    <li class="list-group-item" (click)="openInnerLink('album_Baptism_2005/index.html')">受浸见证</li>
                    <li class="list-group-item" (click)="openInnerLink('album_CWC_2005/index.html')">05冬令会</li>
                    <li class="list-group-item" (click)="openInnerLink('album_Activity_2005/index.html')">户外野餐</li>
                    <li class="list-group-item" (click)="openInnerLink('album_Brother_2005/index.html')">其它照片</li>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-2">
        <div class="panel panel-success">
            <div class="panel-heading" data-toggle="collapse" href="#collapse15">
                <b class="panel-title">2006</b>
            </div>
            <div id="collapse15" class="panel-collapse collapse">
                <div class="list-group text-left">
                    <li class="list-group-item" (click)="openInnerLink('album_Disciple_2006/index.html')">门徒训练</li>
                    <li class="list-group-item" (click)="openInnerLink('album_Activity_2006/index.html')">团契聚会</li>
                    <li class="list-group-item" (click)="openInnerLink('album_Baptism_2006/index.html')">受浸见证</li>
                    <li class="list-group-item" (click)="openInnerLink('album_CWC_2006/index.html')">06冬令会</li>
                    <li class="list-group-item" (click)="openInnerLink('album_others_2006/index.html')">其它照片</li>                </div>    
            </div>
        </div>
    </div>
    <div class="col-sm-2">
        <div class="panel panel-success">
            <div class="panel-heading" data-toggle="collapse" href="#collapse16">
                <b class="panel-title">2007</b>
            </div>
            <div id="collapse16" class="panel-collapse collapse">
                <div class="list-group text-left">
                    <li class="list-group-item" (click)="openInnerLink('album_fellowship_2007/index.html')">团契聚会</li>
                    <li class="list-group-item" (click)="openInnerLink('album_activities_2007/index.html')">户外活动</li>
                    <li class="list-group-item" (click)="openInnerLink('album_Trip_2007CWC_Part_1/index.html')">冬令会旅途</li>
                    <li class="list-group-item" (click)="openInnerLink('album_Activity_2007CWC_Part_2/index.html')">冬令会间隙</li>
                    <li class="list-group-item" (click)="openInnerLink('album_Conference_2007CWC_Part_3/index.html')">冬令会聚会</li>
                    <li class="list-group-item" (click)="openInnerLink('album_Baptism_2007CWC_Part_4/index.html')">冬令会受浸</li>
                    <li class="list-group-item" (click)="openInnerLink('album_Scenery_2007CWC_Part_5/index.html')">冬令会街景</li>
                    <li class="list-group-item" (click)="openInnerLink('album_Mid-Autum%20Festival_2007/index.html')">中秋联欢</li>
                    <li class="list-group-item" (click)="openInnerLink('album_others_2007/index.html')">其它照片</li>
                </div>    
            </div>
        </div>
    </div>
</div>
<div class="row">

    <div class="col-sm-6">
        <div class="panel panel-success">
            <div class="panel-heading" data-toggle="collapse" href="#collapse20">
                <b class="panel-title">2008</b>
            </div>
            <div id="collapse20" class="panel-collapse collapse">
                <table class="table-condensed"><tr><td>
                <div class="list-group text-left">
                    <li class="list-group-item" (click)="openInnerLink('album_NewYear_2008/index.html')">新年特别聚会</li>
                    <li class="list-group-item" (click)="openInnerLink('album_New%20year_Feb_2008/index.html')">春节特别聚会</li>
                    <li class="list-group-item" (click)="openInnerLink('album_farewell%202008/index.html')">送别小宁姐妹</li>
                    <li class="list-group-item" (click)="openInnerLink('album_Special%20Event_2008/index.html')">三月特别活动</li>
                    <li class="list-group-item" (click)="openInnerLink('album_Picnic_April_2008/index.html')">四月湖边春游</li>
                    <li class="list-group-item" (click)="openInnerLink('album_Sunday%20Worship_2008/index.html')">主日聚会掠影</li>
                    <li class="list-group-item" (click)="openInnerLink('album_Spring%20Outdoor%20Activiy_2008/index.html')">四月户外活动</li>
                    <li class="list-group-item" (click)="openInnerLink('album_Missionary%20Pan_2008/index.html')">五月特别聚会</li>
                    <li class="list-group-item" (click)="openInnerLink('album_Farewell_2008/index.html')">送别朋友晓明</li>
                </div>
                </td><td>
                <div class="list-group text-left">
                    <li class="list-group-item" (click)="openInnerLink('album_Activity_2008/index.html')">五月户外活动</li>
                    <li class="list-group-item" (click)="openInnerLink('album_Special%20Event_JUN-2008/index.html')">六月特别活动</li>
                    <li class="list-group-item" (click)="openInnerLink('album_Gospel%20Camp_2008/index.html')">七月初福音营</li>
                    <li class="list-group-item" (click)="openInnerLink('album_Farewell_Rui_2008/index.html')">送别桂芮姐妹</li>
                    <li class="list-group-item" (click)="openInnerLink('album_Special%20Activity_August_2008/index.html')">八月特别聚会</li>
                    <li class="list-group-item" (click)="openInnerLink('album_Wedding_Yuan/index.html')">刘源弟兄婚礼</li>
                    <li class="list-group-item" (click)="openInnerLink('album_Picnic_Aug_2008/index.html')">八月湖畔野餐</li>
                    <li class="list-group-item" (click)="openInnerLink('album_Missionary_Spet_2008/index.html')">短宣队来访</li>
                    <li class="list-group-item" (click)="openInnerLink('album_Sept_Outdoor_2008/index.html')">九月户外活动</li>        
                </div>
                </td><td>
                <div class="list-group text-left">
                    <li class="list-group-item" (click)="openInnerLink('album_Sept_Outdoor_2008/index.html')">十月户外活动</li>
                    <li class="list-group-item" (click)="openInnerLink('album_Special%20Activity_Nov_2008/index.html')">十一月特别聚会</li>
                    <li class="list-group-item" (click)="openInnerLink('album_Cao%20Family_Dec_2008/index.html')">中华吴沉及爱女</li>
                    <li class="list-group-item" (click)="openInnerLink('album_Farewell_Yongping_Dec_2008/index.html')">送别永萍姐妹</li>
                    <li class="list-group-item" (click)="openInnerLink('album_Baptism_Dec_2008/index.html')">信而受洗</li>
                    <li class="list-group-item" (click)="openInnerLink('album_Sunday%20Worship_Dec_2008/index.html')">主日聚会</li>
                    <li class="list-group-item" (click)="openInnerLink('album_Special%20Activity_Dec_2008/index.html')">二山子访牛城</li>
                    <li class="list-group-item" (click)="openInnerLink('album_Baptism_Hong%20Jia_Dec_2008/index.html')">贾宏姐妹洗礼</li>
                    <li class="list-group-item" (click)="openInnerLink('album_CWC_Dec_2008/index.html')">2008冬令会</li>
                </div>
                </td></tr></table>
            </div>
        </div>
    </div>
    <div class="col-sm-2">
        <div class="panel panel-success">
            <div class="panel-heading" data-toggle="collapse" href="#collapse21">
                <b class="panel-title">2009</b>
            </div>
            <div id="collapse21" class="panel-collapse collapse">
                <div class="list-group text-left">
                    <li class="list-group-item" (click)="openInnerLink('album_New%20Year_Jan_2009/index.html')">新年特别聚会</li>
                    <li class="list-group-item" (click)="openInnerLink('album_Spring%20Festival_Jan_Sunday_2009/index.html')">春节主日聚会</li>
                    <li class="list-group-item" (click)="openInnerLink('album_Spring%20Festival_Jan_Friday_2009/index.html')">春节特别聚会</li>
                    <li class="list-group-item" (click)="openInnerLink('album_Farewell_DW_Feb_2009/index.html')">告别董武弟兄</li>
                    <li class="list-group-item" (click)="openInnerLink('album_Baptism_Jin_Mar_2009/index.html')">李静姐妹受浸</li>
                    <li class="list-group-item" (click)="openInnerLink('album_Outdoor_April_2009/index.html')">四月户外活动</li>
                    <li class="list-group-item" (click)="openInnerLink('album_Baptism_July_2009/index.html')">六月特别聚会</li>
                    <li class="list-group-item" (click)="openInnerLink('album_Activity_June_2009/index.html')">七月特别聚会</li>                
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-2">
        <div class="panel panel-success">
            <div class="panel-heading" data-toggle="collapse" href="#collapse22">
                <b class="panel-title">2011</b>
            </div>
            <div id="collapse22" class="panel-collapse collapse">
                <div class="list-group text-left">
                    <li class="list-group-item" (click)="openOCCFLink('20116424occf/index.html')">送别利川惠英</li>
                    <li class="list-group-item" (click)="openOCCFLink('Picnic-09-24-2011/index.html')">户外野餐</li>
                    <li class="list-group-item" (click)="openOCCFLink('CWC_2011/')">11冬令会</li>                    
                    <li class="list-group-item" (click)="openOCCFLink('Fellowship_2011/')">团契聚会</li>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-2">
        <div class="panel panel-success">
            <div class="panel-heading" data-toggle="collapse" href="#collapse23">
                <b class="panel-title">2013 - 2014</b>
            </div>
            <div id="collapse23" class="panel-collapse collapse">
                <div class="list-group text-left">
                    <li class="list-group-item" (click)="openLink('images/SardisLake_1/index.html')">户外活动 I</li>
                    <li class="list-group-item" (click)="openLink('images/SardisLake_2/index.html')">户外活动 II</li>
                    <li class="list-group-item" (click)="openLink('images/2013_CWC/index.html')">13冬令会</li>
                    <li class="list-group-item" (click)="openLink('images/Gathering/index.html')">查经局会</li>
                    <li class="list-group-item" (click)="openLink('images/Baptism/index.html')">受浸见证</li>
                </div>
            </div>
        </div>
    </div>
</div>
         
<!--div class="row">
  <div class="col-sm-4">
      <img src="http://oxfordchinesechurch.org/pics/pic04.JPG" class="img-rounded circle"/>       
  </div>
  <div class="col-sm-4">
      <img src="http://oxfordchinesechurch.org/pics/pic05.JPG" class="img-rounded circle"/>       
  </div>
  <div class="col-sm-4">
      <img src="http://oxfordchinesechurch.org/pics/pic03.JPG" class="img-rounded circle"/>       
  </div>
</div>
<div class="row">
  <div class="col-sm-4">
      <img src="http://oxfordchinesechurch.org/pics/pic04.JPG" class="img-rounded circle"/>       
  </div>
  <div class="col-sm-4">
      <img src="http://oxfordchinesechurch.org/pics/pic05.JPG" class="img-rounded circle"/>       
  </div>
  <div class="col-sm-4">
      <img src="http://oxfordchinesechurch.org/pics/pic03.JPG" class="img-rounded circle"/>       
  </div>
</div>
<div class="row">
  <div class="col-sm-4">
      <img src="http://oxfordchinesechurch.org/pics/pic04.JPG" class="img-rounded circle"/>       
  </div>
  <div class="col-sm-4">
      <img src="http://oxfordchinesechurch.org/pics/pic05.JPG" class="img-rounded circle"/>       
  </div>
  <div class="col-sm-4">
      <img src="http://oxfordchinesechurch.org/pics/pic03.JPG" class="img-rounded circle"/>       
  </div>
</div -->
