<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="row bg-green">
        <div class="col-sm-1 text-center" style="margin-top:5px;">
          <img src="{{fullImagePath}}cross2.jpg" class="img-rounded text-right"/>        
        </div>
        <div class="col-sm-11 text-center" style="margin-top:5px;">
          <img src="{{fullImagePath}}occf-name.jpg" class="img-rounded" height="20" title="Chinese Christian Church, Oxford, Mississippi" />   
                   <button class="btn btn-default btn-xs" (click)="toggleLang()"><small>{{showEng? "&nbsp;&nbsp;中文&nbsp;&nbsp;" : "English"}}</small></button>        

          <h5 style="color: rgb(255,255,255)">Chinese Christian Church, Oxford, Mississippi</h5> 
        </div>   
      </div>
      <div class="row">
        <div class="col-sm-12 bg-black text-center">
          <div class="btn-group btn-group-center" *ngIf="showEng">
            <a class="btn btn-success btn-sm bg-black" routerLink="/welcome"><strong>Welcome</strong></a>
            <span class="btn btn-success btn-sm bg-black">
              <a class="dropdown-toggle" type="button" data-toggle="dropdown" style="color:white"><strong>Fellowship</strong></a>
              <ul class="dropdown-menu" role="menu">
                  <li><a tabindex="-1" href="http://oxfordchinesechurch.org/Hymns/index.htm" target="http://oxfordchinesechurch.org/Hymns/index.htm">Hymns</a></li>
                  <li><a tabindex="-1" routerLink="/fellowshipC">Photo albums</a></li>
              </ul>
            </span>
            <span class="btn btn-success btn-sm bg-black">
              <a class="dropdown-toggle"  data-toggle="dropdown" style="color:white"><strong>Testimony</strong></a>
              <ul class="dropdown-menu" role="menu">
                <li><a tabindex="-1" [routerLink]="['/testimonyC', 1]">Audio</a></li>
                <li><a tabindex="-1" [routerLink]="['/testimonyC', 0]">Essay</a></li>
              </ul>  
            </span>           
            <a class="btn btn-success btn-sm bg-black" routerLink="/schedule"><strong>Schedule</strong></a>
            <a class="btn btn-success btn-sm bg-black" routerLink="/bibleStudy"><strong>Bible Study</strong></a>  
            <a class="btn btn-success btn-sm bg-black" routerLink="/links"><strong>Links</strong></a>  
          </div>          
          <div class="btn-group btn-group-center" *ngIf="!showEng">
            <a class="btn btn-success btn-sm bg-black" type="button" routerLink="/welcomeC"><strong>欢迎来访</strong></a>
            <span class="btn btn-success btn-sm bg-black">
              <a class="dropdown-toggle" type="button" data-toggle="dropdown" style="color:white"><strong>教会生活</strong></a>
              <ul class="dropdown-menu" role="menu">
                  <li><a tabindex="-1" href="http://oxfordchinesechurch.org/Hymns/index.htm" target="http://oxfordchinesechurch.org/Hymns/index.htm">赞美诗歌</a></li>
                  <li><a tabindex="-1" routerLink="/fellowshipC">教会相册</a></li>
              </ul>
            </span>
            <span class="btn btn-success btn-sm bg-black">
              <a class="dropdown-toggle" data-toggle="dropdown" style="color:white"><strong>见证分享</strong></a> 
                <ul class="dropdown-menu" role="menu">
                  <li><a tabindex="-1" [routerLink]="['/testimonyC', 1]">见证分享录音</a></li>
                  <li><a tabindex="-1" [routerLink]="['/testimonyC', 0]">见证分享短文</a></li>
                </ul>
            </span>        
            <a class="btn btn-success btn-sm bg-black" routerLink="/scheduleC"><strong>聚会安排</strong></a>
            <a class="btn btn-success btn-sm bg-black" routerLink="/bibleStudyC"><strong>每日读经</strong></a>   
            <a class="btn btn-success btn-sm bg-black" routerLink="/linksC"><strong>相关链接</strong></a> 
          </div> 
        </div>
      </div> 
    </div>
  </div>   
  <div class="row">                            
      <div class="col-sm-12 text-center" style="margin: 2px;"><router-outlet></router-outlet></div>    
  </div>  
</div>
