<div class="container">
  <div class="row">
    <div class="col-sm-9 text-info text-justify" style="font-family: Tahoma, Arial, Helvetica, Microsoft YaHei New, Microsoft Yahei, 微软雅黑, 宋体, SimSun, STXihei, 华文细黑, sans-serif;">
      <p>我们是一个在美国密西西比州北部小城OXFORD(简译牛城)说华语的基督徒群体。
      用中文查考圣经, 用普通话敬拜上帝, 向来自各地的华人朋友传讲耶稣基督。
      以圣经作为信仰和生活的唯一准则。
      按照圣经建立教会, 不分种族、国籍和宗派。</p>
      <p>
      我们在主内成为一家人, 同甘共苦, 彼此服事。
      同为神的儿女, 今日蒙爱, 将来与基督同得荣耀。
      同为主耶稣基督的仆人, 从小事忠心事奉他。
      同蒙恩召, 成为传耶稣基督福音的人。
      </p>
      <p>
      我们因信耶稣, 福杯满溢, 愿意帮助有需要的人。
      愿每位华人都能听明白福音所启示的真理。
      热忱欢迎您加入我们或参加我们的各项活动。</p>
      
      <h5><mark class="text-info">愿神赐福您!</mark></h5>
    </div>
    <div class="col-sm-1 text-center">
      <img src="http://oxfordchinesechurch.org/images/Gathering/images/ll9a1913.jpg" class="img-rounded circle" height="200"/>       
    </div>
  </div>
</div>
