<div class="container">
  <div class="row">
    <div class="col-sm-9 text-info  text-justify"><strong>
      We are a congregation of Chinese speaking Christians in Oxford, Mississippi.
      We read Bible in Chinese, praise the Lord in mandarin, and preach the Gospel to Chinese speaking friends. 
      We use the Bible as the guide line of our faith and life. 
      We build our church on the basis of the Bible without distinguishing race, nationality and denomination. As a family in Jesus Christ, 
      We are now blessed children of God and will share the glory with Jesus Christ at His return. We all are servants of  the Lord  Jesus Christ and serve Him faithfully starting small.  
      We all are called to preach the Gospel of Jesus Christ.  Because of our belief in Jesus, our cup is full with blessings, so that we are willing and able to help others.  
      We hope every Chinese specking friend can understand the truth of the Gospel. 
      We sincerely welcome you to join in us or take part in our activities. 
      God bless you! </strong>
    </div>
    <div class="col-sm-1 text-center">
      <img src="http://oxfordchinesechurch.org/images/Gathering/images/ll9a1913.jpg" class="img-rounded circle" height="200"/>       
    </div>
  </div>  
</div> 



