<div class="row" *ngIf="!showAudio">
  <div class="col-sm-6">
     <div class="list-group  text-left">
          <a (click)="openEssay('001.html')" class="list-group-item">
            秋天 -- <small>惠英 11/2005</small>
          </a>
          <a (click)="openEssay('002.html')" class="list-group-item">
            过节 -- <small>惠英 12/2005</small>
          </a> 
          <a (click)="openEssay('003.html')" class="list-group-item">
            我的之前与之后(信主见证) -- <small>俊红 01/2006</small>
          </a>
          <a (click)="openEssay('004.html')" class="list-group-item">
            信 -- <small>惠英 02/2006</small>
          </a>
          <a (click)="openEssay('005.html')" class="list-group-item">
            成为基督徒的感受和思考 -- <small>建平 03/2006</small>
          </a>
          <a (click)="openEssay('006.html')" class="list-group-item">
           复活与我 -- <small>惠英 04/2006</small>
          </a>
          <a (click)="openEssay('007.html')" class="list-group-item">
            健康食品 -- <small>惠英 06/2006</small>
          </a>
          <a (click)="openEssay('008.html')" class="list-group-item">
            关于基督教与传统文化的感想 -- <small>大勇 08/2006</small>
          </a>
          <a (click)="openEssay('009.html')" class="list-group-item">
            董武弟兄信主的经历 -- <small>董武 11/2006</small>
          </a>
          <a (click)="openEssay('010.html')" class="list-group-item">
            生命的思考 -- <small>董武 12/2006</small>
          </a>
          <a (click)="openEssay('011.html')" class="list-group-item">
            人生苦海找出路-新生活 -- <small>素香 01/2007</small>
          </a>
          <a (click)="openEssay('012.html')" class="list-group-item">
            生命的河，喜乐的河 -- <small>素香 04/2007</small>
          </a>
          <a (click)="openEssay('013.html')" class="list-group-item">
            健康生活 -- <small>惠英 05/2007</small>
          </a>
          <a (click)="openEssay('014.html')" class="list-group-item">
            耶和华的恩典足够用 -- <small>董武 05/2007</small>
          </a>
          <a (click)="openEssay('015.html')" class="list-group-item">
            在苦难中学会忍耐 -- <small>玉晖 06/2007</small>
          </a>
          <a (click)="openEssay('016.html')" class="list-group-item">
            列车中的福音(一) -- <small>董武 07/2007</small>
          </a>
          <a (click)="openEssay('017.html')" class="list-group-item">
            颜耀亮弟兄的见证分享 -- <small>耀亮 08/2007</small>
          </a>
          <a (click)="openEssay('018.html')" class="list-group-item">
            当信那已经胜过了世界的主 -- <small>王革 10/2007</small>
          </a>
          <a (click)="openEssay('019.html')" class="list-group-item">
            恩典之行 -- <small>素香 12/2007</small>
          </a>
          <a (click)="openEssay('020.html')" class="list-group-item">
            列车中的福音（二) -- <small>董武 01/2008</small>
          </a>
          <a (click)="openEssay('021.html')" class="list-group-item">
            生日交响曲 -- <small>利川 02/2008</small>
          </a>   
          <a (click)="openEssay('022.html')" class="list-group-item">
            幸福家庭 -- <small>利川 02/2008</small>
          </a>  
          <a (click)="openEssay('023.html')" class="list-group-item">
            查理与流浪狗 -- <small>利川 07/2008</small>
          </a>  
          <a (click)="openEssay('024.html')" class="list-group-item">
            姐妹信主记 -- <small>贾宏 07/2008</small>
          </a> 
          <a (click)="openEssay('025.html')" class="list-group-item">
            阿贵钓鱼记 -- <small>阿贵 11/2008</small>
          </a>                                        
    </div>
  </div>  
  <div class="col-sm-6">
     <div class="list-group text-left">
        <a (click)="openEssay('026.html')" class="list-group-item">
          妈妈受洗了 -- <small>董武 11/2008</small>  
        </a>    
        <a (click)="openEssay('027.html')" class="list-group-item">
          阿贵的感恩节 -- <small>阿贵 11/2008</small>
        </a>  
        <a (click)="openEssay('028.html')" class="list-group-item">
          感恩见证 -- <small>刘源 12/2008</small>
        </a>    
        <a (click)="openEssay('029.html')" class="list-group-item">
          阿贵戒烟记 -- <small>阿贵 01/09</small>  
        </a>
        <a (click)="openEssay('030.html')" class="list-group-item">
          阿贵养狗记(上) -- <small>阿贵 03/2009</small>  
        </a>    
        <a (click)="openEssay('031.html')" class="list-group-item">
          经历奇迹 -- <small>董武 03/2009</small>
        </a>  
        <a (click)="openEssay('032.html')" class="list-group-item">
          阿贵门前的十字架 -- <small>阿贵 04/2009</small>
        </a>    
        <a (click)="openEssay('033.html')" class="list-group-item">
          澹澹的足球比赛 -- <small>阿贵 04/2009</small> 
        </a>  
        <a (click)="openEssay('034.html')" class="list-group-item">
          阿贵养狗记(下) -- <small>阿贵 04/2009</small> 
        </a>    
        <a (click)="openEssay('035.html')" class="list-group-item">
          死而复活的见证 -- <small>阿贵 06/2009</small> 
        </a>
        <a (click)="openEssay('036.html')" class="list-group-item">
          主的担子是轻省的 -- <small>阿贵 08/2009</small> 
        </a>    
        <a (click)="openEssay('037.html')" class="list-group-item">
          不信的人是否不如没听过福音 -- <small>阿贵 08/2009</small>  
        </a> 
        <a (click)="openEssay('038.html')" class="list-group-item">
          感谢神一路保守 -- <small>玉晖 08/2009</small> 
        </a>    
        <a (click)="openEssay('039.html')" class="list-group-item">
          超速人生 -- <small>董武 09/2009</small> 
        </a>  
        <a (click)="openEssay('040.html')" class="list-group-item">
          阿贵逸事 I -- <small>阿贵 10/2009</small>   
        </a>    
        <a (click)="openEssay('041.html')" class="list-group-item">
          阿贵送给老师的礼物 -- <small>阿贵 06/2009</small> 
        </a>
        <a (click)="openEssay('042.html')" class="list-group-item">
          经历神奇妙的恩典 -- <small>玉晖 12/2009</small> 
        </a>    
        <a (click)="openEssay('043.html')" class="list-group-item">
          阿贵狩猎记 -- <small>阿贵 01/2010</small>
        </a>
        <a (click)="openEssay('044.html')" class="list-group-item">
          成长与分享 -- <small>素香 03/2010</small>  
        </a>    
        <a (click)="openEssay('045.html')" class="list-group-item">
          爱能存到永远 -- <small>英亮 03/2010</small> 
        </a>  
        <a (click)="openEssay('046.html')" class="list-group-item">
          阿贵逸事 II -- <small>阿贵 07/2010</small> 
        </a>    
        <a (click)="openEssay('047.html')" class="list-group-item">
          我庆幸，我们有…… -- <small>明仙 04/2010</small> 
        </a>
        <a (click)="openEssay('048.html')" class="list-group-item">
          神与我同行，何等平安与喜乐 -- <small>董武 08/2010</small>
        </a>   
      </div> 
  </div>    
</div>

<div class="row" *ngIf="showAudio">
  <div class="col-sm-6">
    <div class="list-group text-left">
      <a (click)="openAudio('2007-04-21-EG-brothers.mp3')" class="list-group-item">
          恩谷教会弟兄分享<small> -- 04/21/07 -- 16.9 MB</small>
      </a> 
      <a (click)="openAudio('2007-07-21-EG-sister.mp3')" class="list-group-item">
          恩谷教会姐妹分享 <small> -- 07/21/07 -- 8.6 MB</small>
      </a>  
      <a (click)="openAudio('2007-11-04-visitSuxiang.mp3')" class="list-group-item">
         素香姐妹见证分享 <small> -- 11/04/07 -- 7.0 MB</small>
      </a>
      <a (click)="openAudio('2007-11-11-DongWu-01.mp3')" class="list-group-item">
         董武弟兄信主见证 <small> -- 11/11/07 -- 5.3 MB</small>
      </a>  
      <a (click)="openAudio('2007-11-11-DongWu-02.mp3')" class="list-group-item">
         董武弟兄事奉分享 <small> -- 11/11/07 -- 4.5 MB</small>
      </a>  
      <a (click)="openAudio('2007-11-11-DongWu-03.mp3')" class="list-group-item">
         董武弟兄福音经历 <small> -- 11/11/07 -- 3.5 MB</small>
      </a>  
      <a (click)="openAudio('2007-11-18-visitYongping.mp3')" class="list-group-item">
         永萍姐妹信主见证 <small> -- 11/18/07 -- 3.1 MB</small>
      </a>  
      <a (click)="openAudio('2007-12-02-visitYingliang.mp3')" class="list-group-item">
         英亮弟兄信主见证 <small> -- 12/02/07 -- 5.9 MB</small>
      </a>  
      <a (click)="openAudio('2007-12-30-visitZhonghua.mp3')" class="list-group-item">
         中华弟兄见证分享 <small> -- 12/30/07 -- 5.0 MB</small>
      </a>  
    </div> 
  </div>    
  <div class="col-sm-6">
    <div class="list-group text-left">
      <a (click)="openAudio('2008-01-06-visitWuchen.mp3')" class="list-group-item">
         吴沉姐妹见证分享 <small> -- 01/06/08 -- 8.2 MB</small>
      </a> 
      <a (click)="openAudio('2008-02-17-visitSisterZhaiWei.mp3')" class="list-group-item">
         翟伟姐妹见证分享 <small> -- 02/17/08 -- 8.7 MB</small>
      </a>  
      <a (click)="openAudio('2008-02-24-visitBroYan.mp3')" class="list-group-item">
         耀亮弟兄信主见证 <small> -- 02/24/08 -- 9.6 MB</small>
      </a>
      <a (click)="openAudio('2008-03-02-visitMingxian.mp3')" class="list-group-item">
         明仙姐妹见证分享 <small> -- 03/02/08 -- 6.9 MB</small>
      </a>  
      <a (click)="openAudio('2008-03-16-BroYan.mp3')" class="list-group-item">
         耀亮弟兄见证分享 <small> -- 03/16/08 -- 12.6 MB</small>
      </a>  
      <a (click)="openAudio('2008-03-17-visitXingCong.mp3')" class="list-group-item">
         兴从弟兄信主见证 <small> -- 03/17/08 -- 5.2 MB</small>
      </a>  
      <a (click)="openAudio('2008-07-13-TripToSWTY.mp3')" class="list-group-item">
         《世外桃源》游记 <small> -- 07/14/08 -- 9.3 MB</small>
      </a>  
      <a (click)="openAudio('2009-05-14-visitZhangXiaohui.mp3')" class="list-group-item">
         晓晖弟兄信主见证 <small> -- 05/14/09 -- 4.3 MB</small>
      </a>  
      <a (click)="openAudio('2009-07-26-yuhui.mp3')" class="list-group-item">
        玉晖姐妹见证分享<small> -- 07/26/09 -- 3.6 MB</small>
      </a>        
    </div> 
  </div> 
</div>
