<div class="row">
  <div class="col-sm-4">
    <div class="list-group  text-left">
      <a class="list-group-item" (click)="openOnLine('OnlineBible/hgb.htm')">
         中文和合译本
      </a>
       <a class="list-group-item" (click)="openOnLine('PingyinBible/index.htm')">
         中文圣经拼音
      </a>
      <!--a class="list-group-item" (click)="openOnLine('SgBible/INDEX.HTM')">
         思高译本圣经
      </a -->
      <a class="list-group-item" (click)="openOnLine('ChineseAudioBible/ChineseAudioBible.html')">
         中文有声圣经
      </a>     
    </div>
  </div>  
  <div class="col-sm-4">
    <div class="list-group text-left">
      <a class="list-group-item" (click)="openLink('http://bible.ccim.org/search_gb.html')">
         简体中文查询
      </a>
      <a class="list-group-item" (click)="openOnLine('BSTPlan/Search.htm')">
         繁体中文查询
      </a>
              <a class="list-group-item" (click)="openOnLine('BSTPlan/Plan.htm')">
         在线读经计划
      </a>                      
    </div>
  </div> 
  <div class="col-sm-4">
    <div class="list-group text-left">
      <a class="list-group-item" (click)="openOnLine('sjzs/index.htm')">
         圣经经文注释
      </a>
      <a class="list-group-item" (click)="openOnLine('djbd/index.htm')">
         灵修参考书籍
      </a>
      <a class="list-group-item" (click)="openOnLine('cjcl/index.htm')">
         部分查经材料
      </a>
    </div>
  </div> 
</div> 